
*.md
Airport-Runway-FOD/training.py
main.py
map.html
message.py
Tensorflow/workspace/models/my_ssd_mobnet/checkpoint
*.data-00000-of-00001
*.index
*.v2
*.gz
Tensorflow/workspace/models/my_ssd_mobnet/checkpoint
Tensorflow/workspace/models/my_ssd_mobnet/checkpoint
Tensorflow/workspace/models/my_ssd_mobnet/checkpoint
*.data-00000-of-00001
*.index
Tensorflow/workspace/models/my_ssd_mobnet/checkpoint
Tensorflow/workspace/models/my_ssd_mobnet/ckpt-45.data-00000-of-00001
Tensorflow/workspace/models/my_ssd_mobnet/ckpt-45.index
Tensorflow/workspace/models/my_ssd_mobnet/ckpt-46.data-00000-of-00001
Tensorflow/workspace/models/my_ssd_mobnet/ckpt-46.index
Tensorflow/workspace/models/my_ssd_mobnet/ckpt-47.data-00000-of-00001
Tensorflow/workspace/models/my_ssd_mobnet/ckpt-47.index
Tensorflow/workspace/models/my_ssd_mobnet/ckpt-48.data-00000-of-00001
Tensorflow/workspace/models/my_ssd_mobnet/ckpt-48.index
Tensorflow/workspace/models/my_ssd_mobnet/ckpt-49.data-00000-of-00001
Tensorflow/workspace/models/my_ssd_mobnet/ckpt-49.index
Tensorflow/workspace/models/my_ssd_mobnet/ckpt-50.data-00000-of-00001
Tensorflow/workspace/models/my_ssd_mobnet/ckpt-50.index
Tensorflow/workspace/models/my_ssd_mobnet/ckpt-51.data-00000-of-00001
Tensorflow/workspace/models/my_ssd_mobnet/ckpt-51.index
Tensorflow/workspace/models/my_ssd_mobnet/eval/events.out.tfevents.1645384839.aa6876a93d9e.22776.0.v2
Tensorflow/workspace/models/my_ssd_mobnet/train/events.out.tfevents.1645379040.aa6876a93d9e.21981.0.v2
Tensorflow/workspace/models/ssd_320_50k.tar.gz
